@import 'tailwindcss';

/**************************/
/*EXPOSURE FONT*/
/*300 - FONT*/
@font-face {
	font-family: 'Exposure';
	src: url('fonts/ExposureTrialVAR.ttf') format('truetype');
}

/**************************/
/*GLOBAL STYLES*/
* {
	box-sizing: border-box;
	font-family:
		'Exposure',
		-apple-system,
		BlinkMacSystemFont,
		Roboto,
		helvetica neue,
		sans-serif !important;
	color: #ffffff;
	outline: none !important;
	font-size: 18px;
	scrollbar-width: thin;
	scrollbar-color: grey transparent;
}
