@import 'tailwindcss';

/**************************/
/*FUTURA FONT*/
/*300 - FONT*/
@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/300-normal.woff2') format('woff2'),
		url('fonts/300-normal.woff2') format('woff'),
		url('fonts/300-normal.otf') format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
}

@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/300-italic.woff2') format('woff2'),
		url('fonts/300-italic.woff') format('woff'),
		url('fonts/300-italic.otf') format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 300;
	font-stretch: normal;
}

/*400 - FONT*/
@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/400-normal.woff2') format('woff2'),
		url('fonts/400-normal.woff') format('woff'),
		url('fonts/400-normal.otf') format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/400-italic.woff2') format('woff2'),
		url('fonts/400-italic.woff') format('woff'),
		url('fonts/400-italic.otf') format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
}

/*500 - FONT*/
@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/500-normal.woff2') format('woff2'),
		url('fonts/500-normal.woff') format('woff'),
		url('fonts/500-normal.otf') format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}

@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/500-italic.woff2') format('woff2'),
		url('fonts/500-italic.woff') format('woff'),
		url('fonts/500-italic.otf') format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 500;
	font-stretch: normal;
}

/*600 - FONT*/
@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/600-normal.woff2') format('woff2'),
		url('fonts/600-normal.woff') format('woff'),
		url('fonts/600-normal.otf') format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
}

@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/600-italic.woff2') format('woff2'),
		url('fonts/600-italic.woff') format('woff'),
		url('fonts/600-italic.otf') format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 600;
	font-stretch: normal;
}

/*700 - FONT*/
@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/700-normal.woff2') format('woff2'),
		url('fonts/700-normal.woff') format('woff'),
		url('fonts/700-normal.otf') format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

@font-face {
	font-family: 'futura-pt';
	src:
		url('fonts/700-italic.woff2') format('woff2'),
		url('fonts/700-italic.woff') format('woff'),
		url('fonts/700-italic.otf') format('opentype');
	font-display: auto;
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
}

/**************************/
/*GLOBAL STYLES*/
* {
	box-sizing: border-box;
	font-family:
		'futura-pt',
		-apple-system,
		BlinkMacSystemFont,
		Roboto,
		helvetica neue,
		sans-serif !important;
	color: #ffffff;
	outline: none !important;
	font-size: 18px;
	scrollbar-width: thin;
	scrollbar-color: grey transparent;
}
